body {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.header img{
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: hsl(280, 30%, 92%);
  position: relative;
  /* border: 1px solid black; */
}

.container {
  background-color: white;
  border-radius: 3vw;
  width: 90vw;
  min-height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding-bottom:1vw;
}

.faq_head {
  display: flex;
  align-items: center;
  gap: 4vw;
  height: 7vh;
  padding-top: 2vh;

  /* border: 1px solid black; */
}

.faq_head p {
  font-family: Work Sans;
  font-size: 8vw;
  font-weight: 700;
  color: hsl(292, 42%, 14%);
}


.faq_head img {
  margin-left: 4vw;
  width: 6vw;
}

.faq_body {
  display: grid;
  grid-template-columns: 80% 20%;
  /* grid-template-rows: auto ; */
  align-items: center;
  /* border: 1px solid black;   */
  margin: 0 6vw;
  cursor: pointer;

}

.border {
  border-bottom: 1px solid hsl(275, 33%, 87%);
}


.ques1 {
  font-family: work sans;
  font-size: 16px;
  font-weight: 700;
  color: hsl(292, 42%, 14%);
}

.image1 {
  justify-self: end;
}


.ans1 {
  grid-column: span 2;
  align-self: center;
  justify-self: center;
  font-family: work sans;
  overflow: hidden;
  font-size: 14px;
  color: hsl(292, 16%, 49%);
  margin: 0;
  max-height: 0;
  opacity: 0;

}

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid black; */
  width: 100vw;
}

.credits p {
  font-family: Work Sans;
}
.credits a{
  text-decoration: none;
}

@media (min-width: 830px) {


  body {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: hsl(280, 30%, 92%);
    position: relative;
    /* border: 1px solid black; */
  }
  
  .container {
    background-color: white;
    border-radius: 1vw;
    width: 35vw;
    min-height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 1vw;
  }
  
  .faq_head {
    display: flex;
    align-items: center;
    gap: 1.5vw;
    height: 7vh;
    padding-top: 2vh;
  
    /* border: 1px solid black; */
  }
  
  .faq_head p {
    font-family: Work Sans;
    font-size: 3vw;
    font-weight: 700;
    color: hsl(292, 42%, 14%);
  }
  
  
  .faq_head img {
    margin-left: 2vw;
    width: 2vw;
  }
  
  .faq_body {
    display: grid;
    grid-template-columns: 80% 20%;
    /* grid-template-rows: auto ; */
    align-items: center;
    /* border: 1px solid black;   */
    margin: 0 2vw;
    cursor: pointer;
  
  }
  
  .border {
    border-bottom: 1px solid hsl(275, 33%, 87%);

  }
  
  
  .ques1 {
    font-family: work sans;
    font-size: 16px;
    font-weight: 700;
    color: hsl(292, 42%, 14%);
  }
  
  .image1 {
    justify-self: end;
  }
  
  
  .ans1 {
    grid-column: span 2;
    align-self: center;
    justify-self: center;
    font-family: work sans;
    font-size: 16px;
    overflow: hidden;
    font-size: 14px;
    color: hsl(292, 16%, 49%);
    margin: 0;
    max-height: 0;
    opacity: 0;
  
  }
  
  .credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
    width: 100vw;
  }
  
  .credits p {
    font-family: Work Sans;
  }
  .credits a{
    text-decoration: none;
  }
  

}